#root {
width: 100%;
height: 100%;
}

.FormsScreen{
  position: relative;
  height: 100vh;
}

.FormsContainer{
  height: 70vh;
  width: 100%;
  overflow-y: auto;
}

.myHeader{
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  padding-bottom: 500px;
  height: 10vh;
  margin: 0;
  padding:0;
}

.MyFooter{
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callCenterImg{
  border-radius: 50%;
  height: 60px;
}

.chatMessagge{
  background-color: #257ed8;
  color: white;
  border-radius: 10px;
}

p{
  margin: 0;
  padding: 0;
}


